#banner {
	border: 1px solid black;
	border-radius:1em;
	/*Used to give rounded edges*/

	background-color: #FF8C00;
	/*DarkOrange*/

	position:static;
	width:100%;
	height:5em;

	text-align:center;
}

#sidebar {
	border: 1px solid black;
	border-radius:1em;

	background-color:#FF6347;
	/*Tomato*/

	position: static;
	width:8em;
	height:100%;
}

#centralarea{
	border: 1px solid black;
	border-radius:1em;

	background-color:#FCF2B4;
	/*Peach*/

	position: absolute;
	top:6em;
	left:9em;

	width: 80%;
	height:100%;

	text-align:center;
}

ul {
	list-style-type:none;
	/*Removes bullets in an unordered list*/
}